html{
    height:100%;
    overflow-y:auto;
    overflow:hidden;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    color:#393e46;
    overflow-y:auto;
}

header{
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#timer{
    position: absolute;
    left: 0;
    color: #393e46;
    font-size: 1em;
    cursor: pointer;
    padding: 10px;
}

#title{
    font-size:medium;
    color: #393e46;
    cursor: pointer;
    width:fit-content;
    height:fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

#top_create{
    position: absolute;
    right: 0;
    color: #393e46;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    font-size: 8em;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    overflow: hidden;
}

#top_create:hover{
    transform: scale(1.1);
    cursor: pointer;
}

main{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

footer{
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;
}

#content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

#todoListContainer{
    display: flex;
    justify-content: start;
    align-items: start;
    padding-left: 20px
}

#todoList{
    justify-content: left;
    flex-direction: column;
    align-items: center;
    width:fit-content;
    height:fit-content
}

.todo{
    display: flex;
    align-items: center;
    gap:20px;
    transition: 1s ease-in-out;
}   

.todoBox{
    width:100px;
    height:100px;
}

.todoText{
    font-size: 70px;
}

.todoText:hover{
    text-decoration: line-through;
    opacity: 70%;
    cursor: pointer;
}

#dropdown{
    position: fixed;
    top: 150px;
    right: 10px;
    color: #393e46;
    background-color: white;
    font-size: 3em;
    width: 300px;
    height: 200px;
    border: 15px solid #393e46;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease-in-out;
    border-radius: 30px;
    gap: 15px;
    z-index: 999;
    font-size: 1em;
    
}

#dropdown.open{
    visibility: visible;
    opacity: 1;
    transform: translateY(-35px);
}

#dropdown.open_right{
    visibility: visible;
    opacity: 1;
}

#task_input{
    width: 240px;
    height: 50px;
    font-size: 20px;
}

#task_input:focus{
    outline: none;
}

#submit{
    width: 140px;
    height: 40px;
}

#submit:hover{
    cursor: pointer;
    background-color: #929aab;
}

#gh{
    font-size:x-small;
}
